<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.ConnectionString" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=lawhouse1;Persist Security Info=True;User ID=lawhouse1;Password=Fq3q~w110!c6"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>